

.card {
  background: #c1c1c142;
  height: 450px;
  cursor: pointer;
  &__image {
    img {
      width: 100%;
    }
  }
  &__title {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__btn {
      display: flex;
      gap: 20px;
      button {
        padding: 10px;
        span {
          font-size: 25px;
        }
      }
    }
  }

}